text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 10px;
  fill: inherit;
  font-family: Helvetica, arial, "Open Sans", sans-serif;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}
.day-cell-tooltip > span {
  font-family: Helvetica, arial, "Open Sans", sans-serif;
}
.calendar-heatmap {
  box-sizing: initial;
}

@media screen and (min-width: 760px) {
  .chartwidth {
    min-width: 1000px;
  }
}

@media screen and (min-width: 1100px) {
  input {
    min-width: 376px;
  }
}

@media screen and (max-width: 760px) {
  .setmargin {
    margin-left: 10px !important;
  }
  .screenhide {
    display: none;
  }
}
